/*Botones*/
.iconDropdown .btn-check:active, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:active{
    background-color: transparent;
    border-color: transparent;
}
.btn-secondary{
    --bs-btn-hover-bg: transparent;
}
.btn{
    @extend %botonBase;
}
.btn-search{
    background-color: $colorPrimario;
    color: $colorFondoPrimario;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.btnContacto {
    background-color: $colorBotonA;
    border: 0ch;
    color: $colorFondoPrimario;
    font-weight: bold;
    margin: 20px;
}
.btn-primary {
    --bs-btn-bg: #ffbd00;
    border-color: $colorBotonB;
    --bs-btn-hover-bg: #FF5400;
    --bs-btn-hover-border-color: #FF5400;
    --bs-list-group-active-bg: #ffbd00;
    --bs-list-group-active-border-color: #ffbd00;
}


/*Títulos*/

h2{
    @extend %h2Base;
}
.titulo-AbUs{
    @include h2mixin ($textColor: $colorSecundario);
}
.h2-Custom{
    @include h2mixin ($textColor: $colorPrimario);
}
.saleCentral{
    @include h2mixin ($textColor: $colorBotonA);
}
.h2-Contacto {
    @include h2mixin ($textColor: $colorPrimario);
}
