%botonBase{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}
%h2Base{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    margin-top: 10px;
}