footer{
    display: grid;
    grid-template-rows: 50% 50%;
    background-color:$colorFondoSecundario;
    text-align: center;
    justify-content: center;
    .enlacepag {
        margin-top: 30px;
        margin-bottom: 30px;
        display: grid;
        grid-template-rows: 20% 20% 20% 20% 20%;
        a{
            font-size: 15px;
            padding: 10px;
            color: $colorFondoPrimario;
        }
    }
    .enlacemedia{
        
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content: center;
            img{
                margin: 10px;
            }
    }
    @media only screen and (min-width: 1024px){
        text-align: center;
        display: grid;
        grid-template-columns: 50% 50%;
        .enlacepag {
            display: inline;
            margin-top: 30px;
            list-style: none;
            a{
                color: $colorFondoPrimario;
                margin-left: 20px;
                font-size: 15px;
                font-weight: bold;
            }
        }
        .enlacemedia{
            .enlacemediaImg{
                width: 60px;
                height: auto;
                margin-left: 25px;
                padding-top: 10px;
                padding-bottom: 10px;
                &:hover {
                    transform: scale(150%);
                }
            
            
            }
        }

    }
}

