body{
    margin: 0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(244, 235, 217);
}

a{
    text-decoration: none;
    color: rgb(72, 61, 63);  
}

h2{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

p{
    margin: 0%;
}

img {
    width: 100%;
    height: auto;
}

.busqueda{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 100%;
    background-color: hwb(349 24% 72%);
    color: rgb(163, 154, 146);
    height: 40px;

}

button {
    background-color: rgb(72, 61, 63);
    border: none;
    color: rgb(163, 154, 146);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding-left: 10px;
}

@media only screen and (min-width: 1024px){
    a{
        text-decoration: none;
        color: rgb(72, 61, 63);  
    }

    h2{
        width: 100%;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    button {
        background-color: rgb(72, 61, 63);
        border: none;
        color: rgb(163, 154, 146);
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        padding-left: 10px;
    }
    .visible{
        visibility: hidden !important;
    }

    .invisible{
        visibility: visible !important;
    }

    .container-fluid{
        --bs-gutter-x:0
    }

}


/*comienza Sobre Nosotros*/

.contenedorHistoria{
    display: flex;
    width: 100%;
    text-align: left;
    justify-content: center;
    margin-bottom: 20px;
}


.historia a {
    width: 100%;
    height: auto;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 20px;
}

.historia a p{
    padding: 20px;
    font-size: 15px;
}

.historia img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
    
.historiaTitulo{
    font-weight: bold;
    padding: 15px;
}

/*termina Sobre Nosotros*/

 /*comienza Tu Diseño*/



.crear img{
    width: 100%;
    margin: 0%;
}

.crear p{
    text-align: center;
    font-size: 20px;
    background-color: rgb(163, 154, 146);
    display: grid;
    place-content: center;
    padding: 10px;
    margin: 0%;
    color: rgb(72, 61, 63);
    height: 100%;
    font-weight: normal;
}

.instrucciones{
    display: block;
}

.instrucciones ul{
    font-size: 15px;
    width: 100%;
    display: grid;
    place-content: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.instrucciones ul li{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: start;
}

/*termina Tu Diseño*/

/*comienza Boutique*/

.galeriaVista{
    display: grid;
    justify-content: center;
}

.sale{
    animation-duration: 1.5s;
    animation-name: cartel;
    animation-iteration-count: infinite;
}
.card{
    display: grid;
    justify-content: center;
}
@keyframes cartel {
    0% {
    }
    50%{
        letter-spacing: 10px;
        background-color: rgb(5, 142, 217);
        color: rgb(244, 235, 217);
    }
    100%{
        letter-spacing: 2px;
    }
}


/*termina Boutique*/

/*comienza Contacto*/
.mainContacto{
width: 100%;
margin:0;
}

.formulario{
    margin-left: 15px;
    margin-right: 20px;
    padding: 3px;
    width: 100%;
    
}
.formulario form{
    display: grid;
    color: rgb(255, 255, 255);
    font-size: 15px;
}
.cuerpoForm{
    border-radius: 10px;
    background-color: rgb(120, 105, 94);
    margin: 15px;
    padding-top: 15px;
    height: auto;
    width: auto;
}

textarea {
    width: 400px;
    height: 200px;
    text-align: center;
    margin-right: 10px;
}

.botones input{
    background-color: rgb(72, 61, 63);
    border: 0.5px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}

.botones {
    margin-top: 20px;
    margin-bottom: 40px;
}

.horarios {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
}

.horarios p{
    padding-bottom: 10px;
}

.notificaciones{
    color: rgb(255, 255, 255);
}


/*termina contacto*/

@media only screen and (min-width: 1024px){

    /*comienza Sobre Nosotros*/

    .historia{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    .contenedorHistoria{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .historia img, .historia a {
        padding: 20px;
        width: 600px;
        height: 400px;
        margin: 0%;
        font-size: 20px;
        background-color: rgb(120, 105, 94);
    }

    .historia img, .historia a p{
        font-size: 20px;
    }

    #tituloAbUs{
        animation-duration: 3s;
        animation-name: tituloAnimado;
        animation-iteration-count: infinite;
    }

    @keyframes tituloAnimado {
        0% {
        }
        50%{
            letter-spacing: 10px;
        }
        100%{
            letter-spacing: 2px;
        }

    }

    .historia a p {
        font-weight: bold;
        padding: 10px; 
    }

    /*termina Sobre Nosotros*/

    /*comienza Tu Diseño*/

    .crear {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .crear img{
        width: 100%;
    }

    .crear p{
        text-align: center;
        font-size: 40px;
        background-color: rgb(163, 154, 146);
        display: grid;
        place-content: center;
    }
    
    .instrucciones ul{
        list-style-type: circle;
        font-size: 20px;
        width: 100%;
        display: grid;
        place-content: center;
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .instrucciones ul li{
        padding-top: 2px;
        padding-bottom: 2px;
    }

    /*termina Tu Diseño*/

    /*comienza Boutique*/

    .compras div img{
        width: 240px;
        height: 360px;
        padding: 0px;
    }


    .tituloGaleria{
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.4%;
        justify-content: center;
    }

    .galeriaVista{
        display: flex;
        justify-content: center;
    }

    .sale{
        animation-duration: 1.5s;
        animation-name: cartel;
        animation-iteration-count: infinite;
        }
    @keyframes cartel {
        0% {
        }
        50%{
            letter-spacing: 10px;
            background-color: rgb(5, 142, 217);
            color: rgb(244, 235, 217);
        }
        100%{
            letter-spacing: 2px;
        }
    }

    .card {
        margin-top: 10px;
        width: 100%;
    }

    .cardGrilla{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .btn{
        --bs-btn-bg: rgb(5, 142, 217); 
    }

    .list-group-item select{
        background-color: rgb(244, 235, 217);
    }

    /*termina Boutique*/

    /*comienza Contacto*/


    .mainContacto{
        display: grid;
        justify-content: center;
    }
    
    .formulario form, .horarios, .notificaciones{
        display: grid;
        color: rgb(255, 255, 255);
        font-size: 15px;
    }
    .cuerpoForm{
        border-radius: 10px;
        background-color: rgb(120, 105, 94);
        height: auto;
        margin: 15px;
        display: grid;
        justify-content: start;
        width: 1000px;
    }

    .cuerpoForm article{
        display: grid;
        justify-content: start;
    }

    .datos label input{
        width: 300px;
    }

 
    .datos label{
        width: 300px;
    }

    .textoFormulario{
        font-size: 20px;
        color: rgb(255, 255, 255);
    }

    textarea {
        width: 600px;
        height: 200px;
        text-align: start;
    }

    .botones input{
        background-color: rgb(72, 61, 63);
        border: 0.5px;
        color: rgb(255, 255, 255);
        text-align: start;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        padding: 10px;
    }

    .botones {
        margin-left: 500px;
    }

    .horarios, .notificaciones {
        margin: 30px;
    }

    .notificaciones{
        display: inline;
    }

    .notificaciones input{
        margin-left: 20px;
    }

    .comentarios{
        display: inline;
    }
    

    /*termina Contacto*/
}