header{
    background-color: $colorFondoPrimario;
    --bs-link-color: #9E0059;
    --bs-link-hover-color: #9E0059;
    background-color: $colorFondoSecundario;
    height: 100px;
    .cabezalMobile{
        display: grid;
        justify-content:left;
        position: absolute;
        ul {
        width: 100%;
        height: 30px;
        padding: 0px;
        --bs-dropdown-bg: transparent;
            .dropdown-item{
            background-color:$colorFondoSecundario;
            color: $colorFondoPrimario;
            width: 30%;
            }    
        }
        img{
        margin: 0px;
        padding: 0px;   
        }
    }
    @media only screen and (min-width: 1024px){
        .visible {
            visibility: hidden !important;
        }
        .invisible {
            visibility: visible !important;
        }
        .nav{
            --bs-nav-link-color: #fff;
        }
        background-color: $colorFondoSecundario;
        height: 80px;
        div{
            ul {
                list-style: none;
                width: 100%;
                height: 80px;
                display: flex;
                align-items: center;
                li {
                    a{
                        display: inline-block;
                        border: none;
                        width: auto;
                        position: relative;
                        font-size: 18px;
                        font-weight: bold;
                        background-color: $colorFondoSecundario;
                        text-align: center;
                        overflow: hidden;
                        vertical-align: middle;
                        color: $colorFondoPrimario; 
                        &:hover{
                            font-size: 20px;
                            font-weight: bolder;
                            color: $colorResaltador;
                        }
                    }
                }
                .imgHeader{
                    width: auto;
                    height: auto;
                }
            }
        }
    }
}
    
