/*estilos generales*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    --bs-gutter-x: 0;
    a {
        text-decoration-line: none;
        color: $colorFondoSecundario;
    }
    .busqueda {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: map-get($estilos, tamanoBusqueda);
        width: 100%;
        background-color: $colorPrimario;
        color: $colorFondoPrimario;
        height: 40px;
        font-weight: normal;
    }
    /*comienza página de inicio*/
    .mainInicio {
        section {
            article {
                width: auto;
            }
            p {
                background-color: $colorSecundario;
                color: $colorFondoPrimario;
                height: 60px;
                text-align: center;
                padding-top: 15px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            aside {
                div {
                    text-align: center;
                     img {
                        width: 80%;
                        padding: 10px;
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1024px) {
        .mainInicio {
            section {
                article {
                    padding-top: 20px;
                    padding-left: 150px;
                    padding-right: 150px;
                    display: flex;
                    width: 100%;
                    text-align: center;
                    justify-content: center;
                    div {
                        img {
                            width: 800px;
                            height: auto;
                        }
                    }
                }
                .textoIndex {
                    text-align: center;
                    background-color: $colorSecundario;
                    width: 100%;
                    color: $colorFondoPrimario;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    font-size: map-get($estilos, tamanoSubt);
                    height: 120px;
                }
                aside {
                    display: flex;
                    justify-content: center;

                    div {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        grid-template-rows: 50% 50%;
                        margin: 20px;
                        justify-items: center;
                        img {
                            padding: 20px;
                            width: auto;
                        }
                    }
                }
            }
        }
    }
    /*termina Inicio*/
    /*comienza Sobre Nosotros*/
    .mainAbUs {
        width: auto;
        .seccionAbUs{
            width: auto;
            article {
                display: flex;
                width: auto;
                justify-content: center;
                div {
                    background-color: $colorSecundario;
                    margin-bottom: 10px;
                    img {
                        width: 100%;
                        height: auto;
                        margin: 0px;
                    }
                }
                a {
                    width: 100%;
                    height: auto;
                    margin-left: 0%;
                    margin-right: 0%;
                    font-weight: bold;
                }
                p {
                    color: $colorFondoPrimario;
                    font-weight: normal;
                    padding: 20px;
                    font-size: map-get($estilos, tamanoTexto);
                }
            }
        }
    }
    @media only screen and (min-width: 1024px) {
        .mainAbUs {
            section {
                display: flex;
                width: 100%;
                text-align: center;
                justify-content: center;
                #tituloAbUs {
                    animation-duration: 3s;
                    animation-name: tituloAnimado;
                    animation-iteration-count: infinite;
                }
                @keyframes tituloAnimado {
                    0% {}

                    50% {
                        letter-spacing: 10px;
                    }

                    100% {
                        letter-spacing: 2px;
                    }
                }
                article {
                    display: grid;
                    text-align: center;
                    justify-content: center;
                    margin-bottom: 30px;
                    div {
                        display: grid;
                        width: 80%;
                        grid-template-columns: 50% 50%;
                        grid-template-rows: 50% 50%;
                        img {
                            width: 600px;
                            height: 400px;
                            margin: 0%;
                            background-color: $colorSecundario;
                            padding: 10px;
                        }
                        a {
                            padding: 20px;
                            width: 600px;
                            height: 400px;
                            margin: 0%;
                            background-color: $colorSecundario;
                        }
                        p{
                            font-size: map-get($estilos, tamanoTextob);
                        }
                    }
                }
            }
        }
    }
    
    /*termina Sobre Nosotros*/
    /*comiente Tu Diseño*/
    .mainTuDiseño {
        article {
            p {
                font-size: map-get($estilos, tamanoTextob);
                background-color: $colorPrimario;
                display: grid;
                place-content: center;
                padding: 10px;
                margin: 0%;
                color: $colorFondoPrimario;
                font-weight: normal;
                height: 100%;
            }
            img {
                width: 100%;
                margin: 0%;
            }
        }
        section {
            article {
                display: block;
                ul {
                    font-size: map-get($estilos, tamanoTexto);
                    font-weight: bold;
                    width: 100%;
                    display: grid;
                    place-content: center;
                    padding-top: 30px;
                    padding-bottom: 40px;
                    li {
                        padding-top: 2px;
                        padding-bottom: 2px;
                        padding-left: 10px;
                        padding-right: 10px;
                        text-align: start;
                    }
                }
            }
        }
        @media only screen and (min-width: 1024px) {
            article {
                display: grid;
                grid-template-columns: 50% 50%;
                img {
                    width: 100%;
                }
                p {
                    text-align: center;
                    font-size: map-get($estilos, tamanoSubt);
                    background-color: $colorPrimario;
                    display: grid;
                    place-content: center;
                    color: $colorFondoPrimario;
                    font-weight: 100;
                }
            }
            section {
                article {
                    ul {
                        list-style-type: circle;
                        font-size: map-get($estilos, tamanoTextob);
                        width: 100%;
                        display: grid;
                        place-content: center;
                        padding-top: 60px;
                        padding-bottom: 80px;
                        li {
                            padding-top: 2px;
                            padding-bottom: 2px;
                            font-weight: bold;
                            color: $colorPrimario;
                        }
                    }
                }
            }
        }
    }
    /*termina Tu Diseño*/
    /*comienza Boutique*/
    .mainBoutique {
        .list-group-item select {
            background-color: rgb(244, 235, 217);
        }
        .list-group {
            --bs-list-group-active-bg: #ffbd00;
            --bs-list-group-active-border-color: #ffbd00;
        }
        .galeriaTitulo {
            .tituloGaleria {
                .sale {
                    animation-duration: 1.5s;
                    animation-name: cartel;
                    animation-iteration-count: infinite;
                }
                @keyframes cartel {
                    0% {}

                    50% {
                        background-color: $colorBotonA;
                        color: rgb(244, 235, 217);
                    }

                    100% {}
                }
                .saleCentral {
                    animation-duration: 1.5s;
                    animation-name: cartelCentral;
                    animation-iteration-count: infinite;
                    @keyframes cartelCentral {
                        0% {                            
                            letter-spacing: 2px;
                        }

                        25%{
                        }

                        50% {
                            letter-spacing: 6px;
                        }

                        100% {
                            letter-spacing: 2px;
                        }
                    }
                }
            }
        }
        .galeriaVista {
            display: grid;
            justify-content: center;

            .card {
                display: grid;
                justify-content: center;
            }
        }
        @media only screen and (min-width: 1024px) {
            .galeriaTitulo {
                .tituloGaleria {
                    display: grid;
                    grid-template-columns: 33.3% 33.3% 33.4%;
                    justify-content: center;
                    .sale {
                        color: $colorBotonA;
                        animation-duration: 1.5s;
                        animation-name: cartel;
                        animation-iteration-count: infinite;
                    }
                    @keyframes cartel {
                        0% {}

                        50% {
                            background-color: $colorBotonA;
                            color: rgb(244, 235, 217);
                        }

                        100% {
                        }
                    }
                    .saleCentral {
                        animation-duration: 1.5s;
                        animation-name: cartelCentral;
                        animation-iteration-count: infinite;
                    }
                    @keyframes cartelCentral {
                        0% {                            
                            letter-spacing: 2px;
                        }

                        50% {
                            color: $colorBotonB;
                            letter-spacing: 4px;
                        }

                        100% {
                            letter-spacing: 2px;
                        }
                    }
                }
            }
            .galeriaVista {
                display: flex;
                border-color: $colorBotonA;
                border: 1px;
                align-self: center;
                .compras {
                    .card {
                        margin-top: 10px;
                        width: 100%;
                    }
                    div {
                        img {
                            width: 240px;
                            height: 360px;
                            padding: 0px;
                            div {
                                .cardGrilla {
                                    display: grid;
                                    grid-template-columns: 50% 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*termina Boutique*/
    /*comienza Contacto*/
    .mainContacto {
        font-size: map-get($estilos, tamanoTextob);
        color: $colorSecundario;
        font-weight: bold;
        section {
            padding: 12px;
            border: 1px solid $colorPrimario;
            border-radius: 4px;
            box-sizing: border-box;
            margin: 6px;
            background-color: $colorPrimario;
            color: $colorFondoPrimario;
            article {
                form {
                    label {
                        input {
                            width: 100%;
                            padding: 12px;
                            border: 1px solid $colorPrimario;
                            border-radius: 4px;
                            box-sizing: border-box;
                            margin-top: 6px;
                            margin-bottom: 16px;
                            resize: vertical;
                        }

                        textarea {
                            width: 100%;
                            padding: 12px;
                            border: 1px solid $colorPrimario;
                            border-radius: 4px;
                            box-sizing: border-box;
                            margin-top: 6px;
                            margin-bottom: 16px;
                            resize: vertical;
                        }
                    }
                }
            }
            div {
                p {
                    padding-bottom: 15px;
                    font-weight: bold;
                }
            }
            .notificaciones {
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 20px;
            }
            .botones {
                display: gridx;
                justify-content: right;
            }
        }
        @media only screen and (min-width: 1024px) {
            position: relative;
            .cuerpoForm {
                margin: auto;
                margin-bottom: 20px;
                width: 60%;
                font-size: map-get($estilos, tamanoTextob);
                font-weight: normal;
                article {
                    form {
                        label {
                            input {
                                width: 100%;
                                padding: 12px;
                                border: 1px solid $colorPrimario;
                                border-radius: 4px;
                                box-sizing: border-box;
                                margin-top: 6px;
                                margin-bottom: 16px;
                                resize: vertical;
                            }
                            textarea {
                                width: 100%;
                                padding: 12px;
                                border: 1px solid $colorPrimario;
                                border-radius: 4px;
                                box-sizing: border-box;
                                margin-top: 6px;
                                margin-bottom: 16px;
                                resize: vertical;
                            }
                        }
                    }
                }
                div {
                    p {
                        padding-bottom: 15px;
                        font-weight: bold;
                    }
                }
                .notificaciones {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    padding-left: 20px;
                }
                .botones {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
    /*termina Contacto*/
}