

$colorPrimario: #390099;
$colorSecundario: #9E0059;
$colorFondoPrimario: #fff;
$colorFondoSecundario: #000000;
$colorResaltador: #ff0054;
$colorBotonA: #FF5400;
$colorBotonB: #ffbd00;

$fuenteCabezal: 'Raleway', sans-serif, 18px, bold;
$fuenteTitulos: 'Raleway', sans-serif, 15px, bold;
$fuenteTexto: 'Raleway', sans-serif, 15px, normal;
$fuenteContacto: 'Raleway', sans-serif, 10px, normal;
$fuenteFooter: 'Raleway', sans-serif, 15px, bold;